################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AirVinyl.API/bin
/AirVinyl.API/bin/Debug
/AirVinyl.API/obj
/AirVinyl.API/App_Data
/AirVinyl.API/obj/Debug/AirVinyl.API.pdb
/AirVinyl.API/obj/Debug/AirVinyl.API.dll
/AirVinyl.API/obj/Debug/AirVinyl.API.csproj.FileListAbsolute.txt
/AirVinyl.API/obj/Debug/AirVinyl.API.csproj.CoreCompileInputs.cache
/AirVinyl.API/obj/Debug/AirVinyl.API.csproj.CopyComplete
/AirVinyl.DataAccessLayer/bin/Debug
/AirVinyl.DataAccessLayer/obj/Debug
/AirVinyl.Model/bin/Debug
/AirVinyl.Model/obj/Debug
/packages/microsoft-web-helpers.1.0
/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
/packages/Microsoft.Web.Infrastructure.1.0.0.0/.signature.p7s
/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/Microsoft.AspNet.Razor.3.2.7
/packages/Microsoft.AspNet.WebHelpers.3.2.7/lib/net45
/packages/Microsoft.AspNet.WebHelpers.3.2.7
/packages/Microsoft.AspNet.WebPages.3.2.7/Content
/packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45
/packages/Microsoft.AspNet.WebPages.3.2.7
/packages/Microsoft.AspNet.WebPages.Data.3.2.7/lib/net45
/packages/Microsoft.AspNet.WebPages.Data.3.2.7
/packages/Microsoft.AspNet.WebPages.WebData.3.2.7/lib/net45
/packages/Microsoft.AspNet.WebPages.WebData.3.2.7

*.cache
/packages/Newtonsoft.Json.6.0.4/tools/install.ps1
/packages/Newtonsoft.Json.6.0.4/tools
/packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81
/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81
/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.6.0.4/lib/netcore45
/packages/Newtonsoft.Json.6.0.4/.signature.p7s
/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.6.0.4/lib/net45
/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.6.0.4/lib/net40
/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.6.0.4/lib/net35
/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.6.0.4/lib/net20
/packages/Newtonsoft.Json.6.0.4/lib
/packages/Microsoft.AspNet.WebApi.Core.5.2.2/Microsoft.AspNet.WebApi.Core.5.2.2.nupkg
/packages/Microsoft.AspNet.WebApi.Core.5.2.2/lib/net45/System.Web.Http.xml
/packages/Microsoft.AspNet.WebApi.Core.5.2.2/lib/net45/System.Web.Http.dll
/packages/Microsoft.AspNet.WebApi.Core.5.2.2/lib/net45
/packages/Microsoft.AspNet.WebApi.Core.5.2.2/Content/web.config.transform
/packages/Microsoft.AspNet.WebApi.Core.5.2.2/Content
/packages/Microsoft.AspNet.WebApi.Core.5.2.2/.signature.p7s
/packages/Microsoft.AspNet.WebApi.Core.5.2.2
/packages/Microsoft.AspNet.WebApi.Client.5.2.2/Microsoft.AspNet.WebApi.Client.5.2.2.nupkg
/packages/Microsoft.AspNet.WebApi.Client.5.2.2/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.xml
/packages/Microsoft.AspNet.WebApi.Client.5.2.2/lib/portable-wp8+netcore45+net45+wp81+wpa81/System.Net.Http.Formatting.dll
/packages/Microsoft.AspNet.WebApi.Client.5.2.2/lib/portable-wp8+netcore45+net45+wp81+wpa81
/packages/Microsoft.AspNet.WebApi.Client.5.2.2/lib/net45/System.Net.Http.Formatting.xml
/packages/Microsoft.AspNet.WebApi.Client.5.2.2/lib/net45/System.Net.Http.Formatting.dll
/packages/Microsoft.AspNet.WebApi.Client.5.2.2/lib/net45
/packages/Microsoft.AspNet.WebApi.Client.5.2.2/lib
/packages/Microsoft.AspNet.WebApi.Client.5.2.2/.signature.p7s
/packages/Microsoft.AspNet.WebApi.Client.5.2.2
/AirVinyl.Model/packages.config
/AirVinyl.WebClient/bin
/AirVinyl.WebClient/obj/Debug
/packages
/vs
/AirVinyl.WebClient/AirVinyl.WebClient.csproj.user
