################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AirVinyl.API/bin
/AirVinyl.API/bin/Debug
/AirVinyl.API/obj
/AirVinyl.API/App_Data
/AirVinyl.API/obj/Debug/AirVinyl.API.pdb
/AirVinyl.API/obj/Debug/AirVinyl.API.dll
/AirVinyl.API/obj/Debug/AirVinyl.API.csproj.FileListAbsolute.txt
/AirVinyl.API/obj/Debug/AirVinyl.API.csproj.CoreCompileInputs.cache
/AirVinyl.API/obj/Debug/AirVinyl.API.csproj.CopyComplete
/AirVinyl.DataAccessLayer/bin/Debug
/AirVinyl.DataAccessLayer/obj/Debug
/AirVinyl.Model/bin/Debug
/AirVinyl.Model/obj/Debug
/packages/microsoft-web-helpers.1.0
/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
/packages/Microsoft.Web.Infrastructure.1.0.0.0/.signature.p7s
/packages/Microsoft.Web.Infrastructure.1.0.0.0
/packages/Microsoft.AspNet.Razor.3.2.7
/packages/Microsoft.AspNet.WebHelpers.3.2.7/lib/net45
/packages/Microsoft.AspNet.WebHelpers.3.2.7
/packages/Microsoft.AspNet.WebPages.3.2.7/Content
/packages/Microsoft.AspNet.WebPages.3.2.7/lib/net45
/packages/Microsoft.AspNet.WebPages.3.2.7
/packages/Microsoft.AspNet.WebPages.Data.3.2.7/lib/net45
/packages/Microsoft.AspNet.WebPages.Data.3.2.7
/packages/Microsoft.AspNet.WebPages.WebData.3.2.7/lib/net45
/packages/Microsoft.AspNet.WebPages.WebData.3.2.7

*.cache
